@font-face {
  font-family: 'iconfont';  /* project id 422089 */
  src: url('//at.alicdn.com/t/font_422089_7h1dx33cnkd42t9.eot');
  src: url('//at.alicdn.com/t/font_422089_7h1dx33cnkd42t9.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_422089_7h1dx33cnkd42t9.woff') format('woff'),
  url('//at.alicdn.com/t/font_422089_7h1dx33cnkd42t9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_422089_7h1dx33cnkd42t9.svg#iconfont') format('svg');
}

.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

.header{
	/*width: 100%;*/
	height: 50px;
	border-bottom: 1px solid blue;
}
.header .logo{
	/*width: 141px;
	font-family: "宋体";*/
	background-image: url(../img/logo.jpg);
    margin: 20px 0px 20px 110px;
    width: 141px;
    height: 30px;
}
.header .headerLi{
	width: 477px;
	height: 33px;
/*	margin-top: -41px
*/	/*margin-left: -145px;*/
	/*width: 260px;*/
	margin-left: 290px;
	margin-top: -40px;
}
.header .headerLi ul,.header .login ul{
	list-style: none;
	/*margin-left: 50px;*/
	/*width: 245px;*/
}
.header .headerLi ul li,.header .login ul li{
	/*display: block;*/
	/*width: 40px;
	font-size: 16px;*/
	float: left;
}
.header .headerLi ul li a,.header .login ul li a{
	display: block;
	width: 68px;
	font-size: 14px;
	text-align: center;
	color: black;
}
.header .headerLi ul li a:hover,.header .login ul li a:hover{
    cursor: pointer;
    color: #23B1F6;
}
.header .headerLi ul li a.aHover{
	color: #23B1F6;
}
.header .headerLi ul li:last-child{
    border-left: 1px solid #E5E7E8;	
}
.header .divSearch{
	margin-left: 800px;
	margin-top: -40px;
	/*padding-top: 20px;*/
	max-width: 260px;
	height: 33px;
	border-radius: 20px;
	border: 1px solid #E5E6E7;
}
.header .divSearch .inputSearch{
	width: 220px;
	height: 30px;
    border: none;
    outline: none;
    padding-left: 10px;
    margin-left: 10px;
	/*border: none;*/
}
/*.header .divSearch .iconfont{
	font-size: 16px;
	height: 20px;
	width: 20px;
}*/
.header .login{
	position: absolute;
	margin-left: 1100px;
    margin-top: -25px;
	/*display: block;*/
	width: 120px;
	height: 33px;
}
.header .login ul{
	width: 100%;
	height: 100%;
}
.header .login ul li{
	width: 60px;
}
.header .headerLi .appPic{
	position: absolute;
	width: 100px;
	height: 110px;
	background-color: white;
	border-radius: 6px;
	margin-top: 30px;
	display: none;
}
.header .headerLi .appPic img{
	width: 80px;
	height: 80px;
	margin-left: 10px;
	margin-top: 5px;
}
.header .headerLi .appPic span{
	display: block;
	width: 100%;
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	text-align: center;
	/*margin-left: 10px;*/
}
.header .headerLi .appPic .appTodown{
	position: absolute;
	margin-left: 20px;
	margin-top: -9px;
    width: 0px;
	height:0px;
	border-width: 0px 10px 10px 10px;
	border-style: solid;
	border-color: white transparent;
}



.contain{
	width: auto;
	max-width: 100%;
	/*left: 0px;*/
	height: 480px;
	overflow: hidden;
 	background-image: url(../img/1.png);
 	background-repeat: no-repeat;
 	background-position: center;
}
/*.contain img{
	width: auto;
	height: auto;
	margin-left: -650px;
}*/
.contain .picChange{
	position: absolute;
	margin-left: 560px;
	margin-top: 430px;
}
.contain .picChange ul{
	list-style: none;
}
.contain .picChange ul li{
	display: block;
	width: 9px;
	height: 9px;
	border-radius: 9px;
	color: #FFF;
	/*background-color: re;*/
	float: left;
	margin-left: 26px;
	border: 1px solid #FFF;
}
.contain .picChange ul li.liHover{
	background-color: #FFF;
}


.contain .ulList{
	opacity: 0.7;
    margin-left: 80px;
    position: relative;
	width: 240px;
	height: 240px;
	background-color: #949494;
}
/*.contain .ulList .ulListHover{
	background-color: #7C7C7C;
}*/
.contain .ulList span{
	color: #E8E6E5;
	/*display: block;*/
	font-size: 18px;
	height: 36;
	line-height: 36px;
	margin-left: 20px;
}
.contain .ulList ul{
	list-style: none;
	margin-left: 20px;
}

.contain .ulList ul li{
	margin-top: 6px;
    height:26px;
    line-height: 26px;
    font-size: 14px; 
}
.contain .ulList ul li a:hover{
    color: #23B1F6;
}
.contain .ulList ul li a{
	color: #CFD8D9;
}

.contain .menu{
	position: absolute;
	margin-top: -480px;
	margin-left: 320px;
	width: 700px;
	height: 480px;
	color: red;
	background-color: #FFF;
	overflow: scroll;
	/*opacity: 1;*/
}
::-webkit-scrollbar  
{  
    width: 6px;  
    height: 6px;  
    background-color: #F5F5F5;  
}   
::-webkit-scrollbar-track  
{  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
    border-radius: 10px;  
    background-color: #F5F5F5;  
}  
  
::-webkit-scrollbar-thumb  
{  
    border-radius: 10px;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
    background-color: #555;  
} 
/*.contain .menu dt{
	margin-top: 20px;
	margin-left: 40px;
    display: block;
    font-size: 14px;
    float: left;
}
.contain .menu dt a{
	color: #424D52;
}
.contain .menu dd{
	display: block;
	float: left;
    padding-right: 10px;
	margin-top: 20px;
	margin-left: 20px;
    border-right: 1px solid #8A9093;
    text-align: center;
}
.contain .menu dd a{
	display: block;
	min-width: 60px;
	color: #8A9093;
    font-size: 14px;
}*/

.contain .menu dl{
      	display: block;
      	overflow: hidden;
   /*   border-bottom: 1px solid #EEE;*/
      	/*padding-bottom: 10px;*/
        margin: 20px 0 0px 40px;
      }

.contain .menu dl dt{
      	display: block;
      	float: left;
      	min-width: 60px;
      	text-align: center;
      	height: 22px;
      	line-height: 22px;
      	/*padding-right: 6px;*/
      }

.contain .menu dl dt a{
      	color: #424D52;
      	font-weight: bold;
      	font-size: 10pt;
      }

.contain .menu dl dd{
      	display: block;
      	overflow: hidden;     
      }

.contain .menu dl dd a{
        display: block;
        float: left;
        border-right: 1px solid #CCC;
        color: #8A9093;
        font-size: 10pt;
        padding: 0 12px;
        height: 14px;
        line-height: 14px;
        margin: 4px 0;
}
.contain .menu dl dd a:hover{
	color: #4FC3F7;
}



.none{
	display: none;
}


.videoCenter{
	width: 100%;
	min-height: 300px;
}
.videoCenter .videoPlay{
	width: 1150px;
	height: 570px;
	margin: 0 auto;
	margin-top: 15px;
	/*border: 1px solid red;*/
}
.videoCenter .videoPlay .videoIntro{
	width: 100%;
	height: 100px;
	/*margin-bottom: 20px;*/
	/*border: 1px solid blue;*/
}
.videoCenter .videoPlay .videoIntro .span1{
	color: #596267;
	font-size: 22px;
	line-height: 100px;
	float: left;
}
.videoCenter .videoPlay .videoIntro .span2{
	float: right;
	line-height: 100px;
}
.videoCenter .videoPlay .videoIntro .span2 a{
    color: #CCC4C6;
    cursor: pointer;
    font-size: 16px;
}
.videoCenter .videoPlay .videoIntro .span2 a:hover{
	color: #6ABDE1;
}
.videoCenter .videoPlay .videoCon{
	float: left;
	width: 270px;
	height: 220px;
}
.videoCenter .videoPlay .videoCon .videoImg{
    width: 100%;
    height: 150px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.videoCenter .videoPlay .videoCon .videoImg img{
	width: 100%;
	height: 150px;
	transition: all 0.6s;
}
.videoCenter .videoPlay .videoCon .videoImg:hover img{
	transform: scale(1.2);
}
.videoCenter .videoPlay .videoCon .imgIntro{
	width: 100%;
	line-height: 40px;
	font-size: 14px;
	/*margin-bottom: 20px;*/
}
.videoCenter .videoPlay .videoCon .imgIntro .span1{
	float: left;
	color: #424D52;
}
.videoCenter .videoPlay .videoCon .imgIntro .span2{
	float: right;
	color: #FF8862;
}



.marginLR{
	margin-left: 20px;
}
.clearFloat{
	overflow: hidden;
}

.end{
	border-top: 1px solid #A7E1FB;
	/*position: absolute;
	margin-top: 1500px;*/
	width: 100%;
	height: 110px;
	margin: 30px 0px;
}
.end .eSpan1,.end .eA{
	margin-top: 30px;
	color: #A0A5A7;
	font-size: 14px;
	text-align: center;
}
.end .eSpan1 span,.end .eA a{
	color: #A0A5A7;
	font-size: 14px;
}
.end .eA a{
	color: #A0A5A7;
	padding-left: 20px;
}
.end .eA a:hover{
	color: black;
}